
.character-container {
    min-height: 100vh;
    padding: 20px;
    text-align: center;
  }
  

  .dark-theme {
    background-color: black;
    color: white;
    background: radial-gradient(circle, #020024, #090979, #0f0c29);
  }
  
  .dark-theme .character-title {
    font-size: 3rem;
    color: #00e1ff;
    text-shadow: 0 0 10px #00e1ff, 0 0 20px #00e1ff, 0 0 40px #00e1ff;
  }
  
  .dark-theme .films-title {
    color: #ff4f4f;
    text-shadow: 0 0 10px #ff4f4f, 0 0 20px #ff4f4f, 0 0 40px #ff4f4f;
  }
  
  .light-theme {
    background-color: #f0f8ff;
    color: #000;
    background: linear-gradient(to bottom, #fffcdc, #f0e5d8, #e2e8e6);
  }
  
  .light-theme .character-title {
    font-size: 3rem;
    color: #3e82fc;
    text-shadow: 0 0 8px #3e82fc, 0 0 15px #82a9fc;
  }
  
  .light-theme .films-title {
    color: #ffab4f;
    text-shadow: 0 0 8px #ffab4f, 0 0 15px #ffdb82;
  }
  
  .character-title {
    margin: 20px 0;
  }
  
  .character-detail {
    margin-bottom: 20px;
  }
  
  .films-list {
    list-style: none;
    padding: 0;
  }
  
  .films-list li {
    margin: 0.5rem 0;
  }
  

  .theme-toggle-btn {
    background-color: #282c34;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }
  
  .theme-toggle-btn:hover {
    background-color: #61dafb;
  }
  
  /* Stars for the dark theme (animated) */
  .dark-theme:before {
    content: "";
    width: 2px;
    height: 2px;
    background: white;
    position: absolute;
    top: 50px;
    left: 50px;
    box-shadow: 
      100px 200px white, 200px 100px white, 300px 400px white,
      400px 300px white, 500px 400px white, 600px 200px white,
      700px 100px white, 800px 50px white, 900px 500px white;
    animation: twinkling 2s infinite alternate;
  }
  
  @keyframes twinkling {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  